/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #7A7A7A
- Tints: #54595F


- Shades: #6EC1E4


- Accents:#6d6d6d, #211E3B
- Greys



--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --top-navbar: #211e3b;
  --top-navbar-text: #b5b5b5;
  --top-navbar-hover: #ffffff;
  --hire-text: #6ec1e4;
  --nav-text-color: #1a1b1e;
  --hero-text: #6d6d6d;
  --below-hero: #f2f2f2;
  --below-hero-header: #7141b1;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* .header-container {
  margin: 0 auto;
  width: 1500px;
} */

.before-first-header {
  display: flex;
  align-items: center;
  background: var(--top-navbar);
}

.first-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1500px;
  padding: 0 15px;
  height: 60px;
}

.first-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.first-header-right .email,
.first-header-right .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.first-header-right .email a i,
.first-header-right .time a i {
  display: flex;
  align-items: center;
  fill: var(--top-navbar-hover);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.first-header-right .email a,
.first-header-right .time a {
  text-decoration: none;
}

.first-header-right .email h4,
.first-header-right .time h4,
.first-header-left-text p {
  font-weight: 400;
  color: var(--top-navbar-text);
  font-size: 18px;
}

.first-header-right .email h4:hover,
.first-header-right .time h4:hover {
  color: var(--top-navbar-hover);
}

.first-header-left-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.first-header-left-text p a {
  color: var(--hire-text);
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.first-header-left-text ul {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 8px;
}

.first-header-left-text ul li {
  list-style: none;
}

.first-header-left-text ul li a {
  color: var(--top-navbar-text);
  cursor: pointer;
  height: 30px;
  width: 30px;
  gap: 10px;
  padding-right: 8px;
}

.first-header-left-text ul li a:hover {
  color: var(--top-navbar-hover);
}

.second-header-container {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1500px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.main-nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.main-nav-links li {
  list-style: none;
}

.main-nav-links li a {
  text-decoration: none;
  color: var(--nav-text-color);
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: 600 !important;
  font-size: 18px;
  padding-right: 14px;
}

.free-quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 0 16px;
}

.free-quote .phone {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.free-quote .phone i {
  /* width: 50px; */
  height: 50px;
  display: flex;
  align-items: center;
}

.phone-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 8px;
}

.phone-text p {
  color: var(--top-navbar-text);
  font-weight: 500 !important;
  font-size: 18px;
}

.phone-text h4 {
  font-weight: 500 !important;
  font-size: 18px;
  color: var(--nav-text-color);
}

.free-quote-btn {
  margin-left: 12px;
  padding: 15px;
  background: var(--hire-text);
  border: none;
}

.free-quote-btn a {
  text-decoration: none;
  color: var(--top-navbar-hover);
  cursor: pointer;
  font-weight: 600 !important;
}

/* HERO SECTION */
.hero-container {
  margin-top: 100px;
  background-image: url("../images/bg-banner-homey.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-component-container {
  margin: 0 auto;
  width: 1500px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  padding: 80px 0 88px 0;
}

.hero-right .hero-right-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 50px;
}

.hero-right .hero-right-text h3 {
  color: var(--nav-text-color);
  font-size: 24px;
  line-height: 1.4;
  padding-bottom: 18px;
  letter-spacing: 0.5px;
}

.hero-right .hero-right-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.2;
  color: var(--nav-text-color);
  padding-bottom: 18px;
}

.hero-right .hero-right-text p {
  color: var(--hero-text);
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 1.5;
}

/* SUB-HERO SECTION */
.sub-hero-section {
  margin-top: 90px;
}

.sub-hero-container {
  background: var(--below-hero);
  padding: 90px 0 90px 0;
}

.sub-hero-component-container {
  margin: 0 auto;
  max-width: 1200px;
}

.sub-hero-text {
  display: flex;
}

.sub-hero-left-text {
  width: 41%;
  padding: 0 20px;
}

.sub-hero-left-text p {
  color: var(--below-hero-header);
  font-size: 14px;
  font-weight: 800;
  position: relative;
  display: inline-block;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.sub-hero-left-text h2 {
  font-size: 42px;
  line-height: 1.2;
  color: var(--nav-text-color);
  margin: 0 0 20px;
}

.right-text {
  display: flex;
  align-items: center;
  width: 59%;
  padding: 0 20px;
}

.right-text p {
  color: var(--hero-text);
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 0.5px;
}
